@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans.eot');
	src: url('../fonts/JosefinSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/JosefinSans.woff') format('woff'),
		url('../fonts/JosefinSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html,body{ margin: 0; width: 100%; height: 100%; overflow: hidden; font-family: 'Josefin Sans';}

body {
    background: #1a1a1a;
    margin: 0;
}


.container {
    margin: 0;
}

.scores{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
}
.bt-lixo{ 
    color: #fff;
    margin-bottom: 10px;
}
.bt-lixo img{ margin-right: 5px;}
.navegacao{
    position: absolute;
    top: 150px;
    right: 20px;
    width: 100px;
    height: 150px;
    z-index: 2;
}
.bt,
.bt-centro{
    background-color: rgba(36,128,175, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    height: 35px;
    width: 35px; 
    position: absolute;
    text-indent: -9999px;
    list-style: none;
}
#bt-Top {
    background-image: url('../img/bt-top.png');
    left: 50%;
    top: 0;
    margin-left: -15px;
}
#bt-Bottom {
    background-image: url('../img/bt-bottom.png');
    left: 50% ;
    bottom: 0;
    margin-left: -15px;
}
#bt-Left {
    background-image: url('../img/bt-left.png');
    left: 0;
    top: 50% ;
    margin-top: -15px;
}
#bt-Right {
    background-image: url('../img/bt-right.png');
    right: 0;
    top: 50% ;
    margin-top: -15px;
}
#bt-Coletar {
    background-image: url('../img/bt-coletar.png');
    left: 50% ;
    margin-left: -15px;
    top: 50% ;
    margin-top: -15px;
}

#defaultCanvas0 {
    display: table;
    margin: 0 auto;
}

#tabela,
#tabelaDevs,
#tabelaMoni,
#tabelaOrient{ 
    width: 800px; 
    height: 286px;
}

#tabelaDevs .tab-subtit,
#tabelaMoni .tab-subtit,
#tabelaOrient .tab-subtit{ 
    width: 274px; 
    text-align: center;
}

#tabelaDevs .tab-content,
#tabelaMoni .tab-content,
#tabelaOrient .tab-content{ 
    width: 521px; 
    text-align: center;
}
.tab-tit{
    height: 46px;
    line-height: 46px;
    float: left;
    display: inline;
    width: 100%;
    text-align: center;
    color: #008451;
    font-family: 'Josefin Sans';
    font-weight: normal;
    font-size: 18px;
    background: url('../img/tab-tit.png') repeat;
    margin-bottom: 5px;
}
.tab-subtit{
    height: 46px;
    line-height: 46px;
    margin: 0 5px 5px 0;
    float: left;
    display: inline;
    width: 174px;
    text-align: center;
    color: #008451;
    font-family: 'Josefin Sans';
    font-weight: normal;
    font-size: 16px;
    background: url('../img/tab-tit.png') repeat;
}
.tab-content{
    height: 46px;
    float: left;
    display: inline-table;
    width: 621px;
    margin-bottom: 5px;
    padding: 0 5px;
    box-sizing: border-box;
    color: #008451;
    font-family: 'Josefin Sans';
    font-weight: normal;
    font-size: 16px;
    background: url('../img/tab-content.png') repeat;
}
.tab-content p{
    display: table-cell;
    vertical-align: middle;
}
    

@media (max-width: 768px) {
    #defaultCanvas0{
        position: relative;
        width: 100%;
        height: auto;
    }
}